@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('./assets/VCR_OSD_MONO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: 'Figtree', sans-serif;
  --primary-color: #FDFF6B;
  --gray-950: #18181B;
  --gray-925: #27272C;
  --gray-900: #393941;
  --gray-800: #41414B;
  --gray-700: #4C4D58;
  --gray-600: #5D5E6C;
  --gray-500: #737584;
  --gray-400: #91939F;
  --gray-300: #B8B9C1;
  --gray-200: #D9D9DE;
  --gray-100: #EEEEF0;
  --gray-50: #F7F7F8;
  override-colors: white #FAFAFA;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: var(--font-family);
  background-color: var(--gray-950);
}

h1, p, em {
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}


/* Primary Button */
.primary-button {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0.25rem 3rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  transition: all 0.4s linear;
  will-change: background;
}

.primary-button:hover {
  background: var(--primary-color);
}

.primary-button:hover em {
  color: var(--gray-950);
}

.primary-button:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.primary-button:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.35s linear 0.3s;
}

span {
  position: relative;
  display: block;
  perspective: 108px;
}

span:nth-of-type(2) {
  position: absolute;
}

em {
  display: inline-block;
  color: var(--primary-color);
  will-change: transform, opacity, transition;
  transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.35s linear 0.2s;
}

span:nth-of-type(1) em {
  transform-origin: top;
}

span:nth-of-type(2) em {
  opacity: 0;
  transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
  transform-origin: bottom;
}

/* End of primary button */


a {
  text-decoration: underline;
  color: white;
}

.artist {
  width: fit-content;
  color: var(--primary-color);
  transition: text-decoration .4s linear;

  &:hover {
    border-bottom: 2px solid var(--primary-color);
  }
}

.track {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

._WrapperRSWP.__1g3et1y .rswp__active._InfoRSWP.__29fy1h {
  display: none;
}

.track-list {
  color: white;
}

.volume-wrapper {
  width: 12rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  svg {
    aspect-ratio: 1;
    width: 1.5rem;
  }

  @media (width < 768px) {
    width: 100%;
  }
}

/* VCR */

.VCR {
  font-family: 'VCR OSD Mono', monospace;
  transition: text-decoration .4s linear;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }

  &.nav {
    color: var(--gray-950);
    text-align: left;

    &:hover {
      text-decoration: none;
    }

    @media (width < 640px) {
      font-size: 1.25rem;
    }
  }

  &.big {
    font-size: 1.5rem;
    color: var(--gray-950);
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }
}

.vcr-button {
  display: flex;
  width: 8.75rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--gray-950);
  background: var(--gray-300);
  box-shadow: 0px 6px 0px 0px var(--gray-50) inset, 0px -6px 0px 0px var(--gray-500) inset;
  transition: background .4s linear;

  &:hover {
    background: var(--gray-700);
    box-shadow: none;
  }

  span em {
    width: 100%;
    font-family: 'VCR OSD Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-950);
  }
}

.vcr-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 2rem;
  vertical-align: top;

  @media (width < 640px) {
    margin-inline: 1rem;
  }
}

.vcr-wrap > * {
  margin-bottom: 1.65rem;

  @media (width < 640px) {
    margin-bottom: 0.5rem;
  }
}

.vcr-wrap > *:last-child {
  margin-bottom: 0;
}

.vcr-track-wrap {
  box-shadow: -5px -5px 0px 0px var(--gray-50) inset;
  background: var(--gray-500);
}

.spotify-wrap {
  margin: 5px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  align-self: stretch;
  background: var(--gray-950);

  @media (width < 640px) {
    padding: 1rem;
  }
}

.vcr-track {
  display: flex;
  gap: 2rem;
  justify-content: left;
  align-items: center;
  align-self: stretch;
}

@media (width < 1080px) {
  .vcr-track {
    gap: 1rem;
  }
}

@media (width < 640px) {
  .vcr-track {
    gap: 1rem;
  }
}

.spotify {
  margin-left: auto;
  height: 48px;
  display: flex;
  justify-content: end;
  filter: grayscale(100%) contrast(500%);

  @media (width < 800px) {
    height: 40px;
  }

  @media (width < 640px) {
    display: none;
  }
}

.vcr-volume-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin-bottom: rem;
}

.vcr-divider {
  width: 100%;
  display: flex;
  height: 4px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--gray-500);
}

.AC {
  width: 100%;
  display: flex;
  padding: 1rem 0rem;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;

  .column {
    width: 100%;
    flex: 1 0 0;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
